#default-header {
	margin-top: 100px;
}

#logo-sm {
	width: 70px;
	cursor: pointer;

	@media(min-width: $min-tablet-width) {
		margin: 15px auto 15px;
	}

	img {
  		width: 100%
	}

	svg {
  		width: 100%;
  		height: 70px;

  		&:hover,
<<<<<<< HEAD
		&:active,
		&:focus {
=======
		&:active {
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
			path {
				fill: $button-hover-color;
			}
		}
	}
}

.default-title {
	h1 {
		margin: 30px 0 20px;
		font-size: 32px;

		@media(min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
			margin: 0;
			font-size: 46px;
		}

		@media(min-width: $min-desktop-width) {
			margin: 0;
			font-size: 60px;
		}
	}
}

#details {

    line-height: 1.5em;

	.label {
		display: inline-block;
	    width: 70px;
	    color: #efbb6c;
	}

	@media(min-width: $min-tablet-width) {
		margin-top: 40px;
	}
}

#default-content {
	margin: 30px 0;
	background: rgba(11, 87, 156, 1);
	padding: 30px 0;

	@media(min-width: $min-tablet-width) {
		margin: 50px 0;
		padding: 50px 0 70px;
	}
}

#content {

	min-height: 300px;

	p {
		font-size: 18px;
		color: $content-text-color;
	}

	p, figure {
		margin: 0 0 40px;
		line-height: 2em;

		&:last-child {
			margin-bottom: 0;
		}

		@media(min-width: $min-tablet-width) {
			font-size: 1.1em;
		}
	}

	a {
		color: #fff;
	}

	figure {
		padding: 10px;
		background: #f3f3f3;
		word-break: break-word;
	}

	table {
		margin-bottom: 30px;
		color: $content-text-color;
		background: #1F6BB0;
		border-collapse: collapse;
		font-size: 1.1em;

		th {
			border: 3px solid rgba(11, 87, 156, 1);
			padding: 15px;
    		text-align: left;
    		width: 300px;
		}

		td {
			padding: 15px;
    		vertical-align: top;
    		border: 3px solid rgba(11, 87, 156, 1);

    		&:last-child {
    			color: $text-color;
    		}
		}

		em {
			color: #edf777;
		}
	}
}
