#file-cabinet {
	margin-top: 50px;

	h2 {
		margin: 50px 0;
		font-size: 30px;
	}

	.row {
		margin: 0;
	}

	button {
		width: 80px;
		padding: 0 10px 0 14px;
		line-height: 30px;
		font-size: 0.90em;
		cursor: pointer;
		text-align: left;

		i {
			padding-left: 10px;
			font-size: .5em;
		}
	}

	.year,
	.format,
	.for {
		display: none;

		@media(min-width: $min-tablet-width) {
			display: block;
		}
	}

	.format button {
		width: 100px;
	}
<<<<<<< HEAD

	.for {
		text-align: center;
	}
=======
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
}

#files {
	padding: 0;
    list-style: none;

    a {
<<<<<<< HEAD
    	display: inline-block;
    	color: #fff;
    	text-decoration: none;
  		vertical-align: middle;
=======
    	display: block;
    	color: #fff;
    	text-decoration: none;
    	line-height: 26px;
    }

    span {
    	text-decoration: underline;
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
    }

    .year,
	.format,
	.for {
		word-break: break-word;
<<<<<<< HEAD
		font-size: .96em;
	}

	.title {
		span {
	    	text-decoration: underline;
	    }
		@media(min-width: $min-tablet-width) {
			font-size: 1.1em;
			line-height: 30px;
		}
	}

	.year,
	.format {
		span {
			display: inline-block;
			padding-left: 10px;
		}
	}

	.for {
		text-align: center;
		i {
			padding: 5px 0 5px;
			display: block;
			color: #ffffff;
		}
	}

	@media(min-width:$min-desktop-width) {
		line-height: 26px;
=======
		font-size: .90em;
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
	}

}

.file {
	padding: 30px 0;
	font-size: 18px;
	background: rgba(11, 87, 156, 0.9);
	margin-bottom: 5px;

	@media(min-width: $min-tablet-width) {
		padding: 40px 0;
	}

<<<<<<< HEAD
	&:hover,
	&:focus {
		background: rgba(35, 132, 200, 0.9);
	}

	.year,
	.for {
		font-size: 18px;

		span {
			display: inline-block;
		}
	}

	.for span {
		margin-top: 10px;
		color: #B6CDE1;
		font-size: .90em;
	}

	.year,
	.format {
		padding:20px 0;
	}

	@media(min-width:$min-tablet-width) {

		.title a {
			padding: 10px 20px 10px 0;
		}

	}
}

// individual svg styles
.font-icon-technically-logo {
	@media(min-width:$min-tablet-width) {
		margin-top: -5px;
		font-size: 35px;
	}
	@media(min-width:$min-desktop-width) {
		margin-top: 5px;
		font-size: 40px;
	}
}
.font-icon-the-atlantic-logo {
	@media(min-width:$min-tablet-width) {
		margin-top: 0;
		font-size: 35px;
	}
	@media(min-width:$min-desktop-width) {
		margin-top:-4px;
		font-size: 38px;
	}
}
.font-icon-ama-logo {
    @media(min-width:$min-tablet-width) {
		margin-top: -10px;
		font-size: 35px;
	}
	@media(min-width:$min-desktop-width) {
		margin-top: -6px;
		font-size: 34px;
	}
}
.font-icon-latoya-lives-logo {
    @media(min-width:$min-tablet-width) {
		margin-top: 0;
		font-size: 35px;
	}
	@media(min-width:$min-desktop-width) {
		margin-top: 0;
		font-size: 34px;
	}
}
=======
	&:hover {
		background: rgba(35, 132, 200, 0.9);
	}
}

>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
