#hero {
	margin-top: 50px;

	@media(min-width: $min-tablet-width) {
		margin-top: 100px;
	}
}

#logo-lg {
	width: 90px;

	@media(min-width: $min-tablet-width) and (max-width: $max-tablet-width) {

		margin: 15px auto 0;

	}

	@media(min-width: $min-desktop-width) {
		margin: 15px auto 0;
	}

	img {
  		width: 100%;
	}

	svg {
  		width: 100%;
  		height: 90px;

<<<<<<< HEAD
  		&:hover,
  		&:focus {
=======
  		&:hover {
>>>>>>> 667c94f9cd76bbe57febcd6f1215e731cd19b83a
			path {
				fill: $button-hover-color;
			}
		}
	}
}

#hero-text {
	h1 {
		font-size: 32px;

		@media(min-width: $min-tablet-width) {
			margin: 0;
		}

		@media(min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
			font-size: 44px;
		}

		@media(min-width: $min-desktop-width) {
			font-size: 60px;
		}
	}
}