$min-tablet-width: 768px;
$max-tablet-width: 991px;
$min-desktop-width: 992px;
$text-color: #F4CE92;
$text-hover-color: #FCD42E;
$button-color: #C97D38;
$button-hover-color: #FAB82B;
$button-hover-text-color: #3E0E53;
$content-text-color: #B6CDE1;