---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div id="wave" class="decoration"></div>
		<div class="wrapper">
			<header>
				{% include hero.html %}
				{% include signup.html %}
			</header>
		</div>
		{% include file-cabinet.html %}

		<div class="wrapper">
			<div class="row">
				<div class="col-xs-12 col-sm-2">
					{% include footer.html %}
				</div>
			</div>
		</div>
	</body>
</html>
